{:db/pool             {:jdbc-url #env DATABASE_URL}

 :db/migrations       {:datasource #ig/ref :db/pool}

 :adapter/repository  {:datasource #ig/ref :db/migrations}

 :http/client         {}

 :adapter/insurance   {:base-url    #env INSURANCE_BASE_URL
                       :api-key     #env INSURANCE_API_KEY
                       :http-client #ig/ref :http/client}

 :http/server         {:port    #long #env HTTP_PORT
                       :repo    #ig/ref :adapter/repository
                       :insurer #ig/ref :adapter/insurance}

 :worker/policy-retry {:repo        #ig/ref :adapter/repository
                       :interval-ms 30000}}
